<h2> Choose theme setup:</h2>
<div>
  <button mat-raised-button color="primary" (click)="onSetTheme('default-theme')">Default</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-2-theme')">Theme 2</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-3-theme')">Theme 3</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-4-theme')">Theme 4</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-5-theme')">Theme 5</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-6-theme')">Theme 6</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-7-theme')">Theme 7</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-8-theme')">Theme 8</button>
  <button mat-raised-button color="primary" (click)="onSetTheme('theme-9-theme')">Theme 9</button>
</div>
<br>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Themes show case</span>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon">favorite</mat-icon>
    <mat-icon class="example-icon">delete</mat-icon>
  </mat-toolbar-row>
</mat-toolbar>
<br>

  <div style="width: 50%">
    <h3>Basic Buttons</h3>
    <div class="button-row">
      <button mat-button>Basic</button>
      <button mat-button color="primary">Primary</button>
      <button mat-button color="accent">Accent</button>
      <button mat-button color="warn">Warn</button>
      <button mat-button disabled>Disabled</button>
      <a mat-button routerLink=".">Link</a>
    </div>
    <h3>Raised Buttons</h3>
    <div class="button-row">
      <button mat-raised-button>Basic</button>
      <button mat-raised-button color="primary">Primary</button>
      <button mat-raised-button color="accent">Accent</button>
      <button mat-raised-button color="warn">Warn</button>
      <button mat-raised-button disabled>Disabled</button>
      <a mat-raised-button routerLink=".">Link</a>
    </div>
  </div>
  <br>
  <h2 class="example-h2">Checkbox configuration</h2>
  <section class="example-section">
    <mat-checkbox class="example-margin" [(ngModel)]="checked">Checked</mat-checkbox>
    <mat-checkbox class="example-margin" [(ngModel)]="indeterminate">Indeterminate</mat-checkbox>
  </section>
  <br>
  <section class="example-section">
    <label class="example-margin">Align:</label>
    <mat-radio-group [(ngModel)]="align">
      <mat-radio-button class="example-margin" value="start">Start</mat-radio-button>
      <mat-radio-button class="example-margin" value="end">End</mat-radio-button>
    </mat-radio-group>
  </section>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>